@{
    ViewData["Title"] = "Calendar";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Page-->
    <title>Calendar</title>

    <link href="~/vendor/fullcalendar-3.10.0/calendar-main.css" rel="stylesheet" media="all">
    <!-- Fontfaces CSS-->
    <link href="~/css_admin/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css_admin/theme.css" rel="stylesheet" media="all">


    <style type="text/css">
        /* force class color to override the bootstrap base rule
                                       NOTE: adding 'url: #' to calendar makes this unneeded
                                     */
        .fc-event,
        .fc-event:hover {
            color: #fff !important;
            text-decoration: none;
        }
    </style>

</head>

<!-- animsition overrides all click events on clickable things like a,
      since calendar doesn't add href's be default,
      it leads to odd behaviors like loading 'undefined'
      moving the class to menus lead to only the menu having the effect -->

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a asp-area="" asp-controller="Admin" asp-action="index" class="logo">
                            <img src="~/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="index" class="js-arrow">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Property">
                                <i class="fa fa-building"></i>Property
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="User">
                                <i class="fas fa-users"></i>Users
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="New">
                                <i class="fas fa-newspaper"></i>News
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a asp-area="" asp-controller="Admin" asp-action="index">
                    <img src="~/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="index" class="js-arrow">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Property">
                                <i class="fas fa-chart-bar"></i>Property
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="User">
                                <i class="fas fa-users"></i>Users
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="New">
                                <i class="fas fa-newspaper"></i>News
                            </a>
                        </li>
                        <li class="active">
                            <a asp-area="" asp-controller="Admin" asp-action="calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search"
                                       placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a asp-area="" asp-controller="Admin" asp-action="card" class="js-acc-btn">John Doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a asp-area="" asp-controller="Admin" asp-action="card">
                                                        <img src="~/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a asp-area="" asp-controller="Admin" asp-action="card">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a asp-area="" asp-controller="Admin" asp-action="card">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a asp-area="" asp-controller="Admin" asp-action="Login">
                                                        <i class="zmdi zmdi-power"></i>Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="sticky-top mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Draggable Events</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- the events -->
                                            <div id="external-events">
                                                <div class="external-event bg-success text-white">Lunch</div>
                                                <div class="external-event bg-warning text-black">Go home</div>
                                                <div class="external-event bg-info text-white">Do homework</div>
                                                <div class="external-event bg-primary text-white">
                                                    Work on UI design
                                                </div>
                                                <div class="external-event bg-danger text-white">Sleep tight</div>
                                                <div class="checkbox">
                                                    <label for="drop-remove">
                                                        <input type="checkbox" id="drop-remove">
                                                        remove after drop
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Create Event</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                                <ul class="fc-color-picker" id="color-chooser">
                                                    <li>
                                                        <a class="text-primary" href="#">
                                                            <i class="fas fa-square"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="text-warning" href="#">
                                                            <i class="fas fa-square"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="text-success" href="#">
                                                            <i class="fas fa-square"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="text-danger" href="#">
                                                            <i class="fas fa-square"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="text-muted" href="#"><i class="fas fa-square"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /btn-group -->
                                            <div class="input-group">
                                                <input id="new-event" type="text" class="form-control"
                                                       placeholder="Event Title">

                                                <div class="input-group-append">
                                                    <button id="add-new-event" type="button"
                                                            class="btn btn-primary">
                                                        Add
                                                    </button>
                                                </div>
                                                <!-- /btn-group -->
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-9">
                                <div class="card card-primary">
                                    <div class="card-body p-0">
                                        <!-- THE CALENDAR -->
                                        <div id="calendar"></div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Jquery JS-->
            <script src="~/vendor/jquery-3.2.1.min.js"></script>
            <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
            <!-- Bootstrap JS-->
            <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
            <!-- Vendor JS       -->
            <script src="~/vendor/slick/slick.min.js">
            </script>
            <script src="~/vendor/wow/wow.min.js"></script>
            <script src="~/vendor/animsition/animsition.min.js"></script>
            <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
            </script>
            <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
            <script src="~/vendor/counter-up/jquery.counterup.min.js">
            </script>
            <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
            <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
            <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="~/vendor/select2/select2.min.js"></script>

            <!-- full calendar requires moment along jquery which is included above -->
            <script src="~/vendor/moment/moment.min.js"></script>
            <script src="~/vendor/fullcalendar-3.10.0/main.js"></script>
            <script src="~/js_admin/index.global.min.js"></script>
            <!-- Main JS-->
            <script src="~/js_admin/main_admin.js"></script>

            <script>
                $(function () {

                    /* initialize the external events
                     -----------------------------------------------------------------*/
                    function ini_events(ele) {
                        ele.each(function () {

                            // create an Event Object (https://fullcalendar.io/docs/event-object)
                            // it doesn't need to have a start or end
                            var eventObject = {
                                title: $.trim($(this).text()) // use the element's text as the event title
                            }

                            // store the Event Object in the DOM element so we can get to it later
                            $(this).data('eventObject', eventObject)

                            // make the event draggable using jQuery UI
                            $(this).draggable({
                                zIndex: 1070,
                                revert: true, // will cause the event to go back to its
                                revertDuration: 0  //  original position after the drag
                            })

                        })
                    }

                    ini_events($('#external-events div.external-event'))

                    /* initialize the calendar
                     -----------------------------------------------------------------*/
                    //Date for the calendar events (dummy data)
                    var date = new Date()
                    var d = date.getDate(),
                        m = date.getMonth(),
                        y = date.getFullYear()

                    var Calendar = FullCalendar.Calendar;
                    var Draggable = FullCalendar.Draggable;

                    var containerEl = document.getElementById('external-events');
                    var checkbox = document.getElementById('drop-remove');
                    var calendarEl = document.getElementById('calendar');

                    // initialize the external events
                    // -----------------------------------------------------------------

                    new Draggable(containerEl, {
                        itemSelector: '.external-event',
                        eventData: function (eventEl) {
                            return {
                                title: eventEl.innerText,
                                backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                                borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                                textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                            };
                        }
                    });

                    var calendar = new Calendar(calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        themeSystem: 'bootstrap',
                        //Random default events
                        events: [
                            {
                                title: 'All Day Event',
                                start: new Date(y, m, 1),
                                backgroundColor: '#f56954', //red
                                borderColor: '#f56954', //red
                                allDay: true
                            },
                            {
                                title: 'Long Event',
                                start: new Date(y, m, d - 5),
                                end: new Date(y, m, d - 2),
                                backgroundColor: '#f39c12', //yellow
                                borderColor: '#f39c12' //yellow
                            },
                            {
                                title: 'Meeting',
                                start: new Date(y, m, d, 10, 30),
                                allDay: false,
                                backgroundColor: '#0073b7', //Blue
                                borderColor: '#0073b7' //Blue
                            },
                            {
                                title: 'Lunch',
                                start: new Date(y, m, d, 12, 0),
                                end: new Date(y, m, d, 14, 0),
                                allDay: false,
                                backgroundColor: '#00c0ef', //Info (aqua)
                                borderColor: '#00c0ef' //Info (aqua)
                            },
                            {
                                title: 'Birthday Party',
                                start: new Date(y, m, d + 1, 19, 0),
                                end: new Date(y, m, d + 1, 22, 30),
                                allDay: false,
                                backgroundColor: '#00a65a', //Success (green)
                                borderColor: '#00a65a' //Success (green)
                            },
                            {
                                title: 'Click for Google',
                                start: new Date(y, m, 28),
                                end: new Date(y, m, 29),
                                url: 'https://www.google.com/',
                                backgroundColor: '#3c8dbc', //Primary (light-blue)
                                borderColor: '#3c8dbc' //Primary (light-blue)
                            }
                        ],
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar !!!
                        drop: function (info) {
                            // is the "remove after drop" checkbox checked?
                            if (checkbox.checked) {
                                // if so, remove the element from the "Draggable Events" list
                                info.draggedEl.parentNode.removeChild(info.draggedEl);
                            }
                        }
                    });

                    calendar.render();
                    // $('#calendar').fullCalendar()

                    /* ADDING EVENTS */
                    var currColor = '#3c8dbc' //Red by default
                    // Color chooser button
                    $('#color-chooser > li > a').click(function (e) {
                        e.preventDefault()
                        // Save color
                        currColor = $(this).css('color')
                        // Add color effect to button
                        $('#add-new-event').css({
                            'background-color': currColor,
                            'border-color': currColor
                        })
                    })
                    $('#add-new-event').click(function (e) {
                        e.preventDefault()
                        // Get value and make sure it is not null
                        var val = $('#new-event').val()
                        if (val.length == 0) {
                            return
                        }

                        // Create events
                        var event = $('<div />')
                        event.css({
                            'background-color': currColor,
                            'border-color': currColor,
                            'color': '#fff'
                        }).addClass('external-event')
                        event.text(val)
                        $('#external-events').prepend(event)

                        // Add draggable funtionality
                        ini_events(event)

                        // Remove event from text input
                        $('#new-event').val('')
                    })
                })
            </script>
</body>

</html>
