@{
    ViewData["Title"] = "NewDetail";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>News Details</title>

    <!-- Fontfaces CSS-->
    <link href="~/css_admin/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/css_admin/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Main CSS-->
    <link href="~/css_admin/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a asp-area="" asp-controller="Admin" asp-action="index" class="logo">
                            <img src="~/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="index" class="js-arrow">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Property">
                                <i class="fa fa-building"></i>Property
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="User">
                                <i class="fas fa-users"></i>Users
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="New">
                                <i class="fas fa-newspaper"></i>News
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar
                            </a>
                        </li>
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="Property" class="js-arrow">
                                <i class="fas fa-copy"></i>Pages
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="login">Login</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="register">Register</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="ForgetPass">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a asp-area="" asp-controller="Admin" asp-action="index">
                    <img src="~/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="index" class="js-arrow">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Property">
                                <i class="fas fa-chart-bar"></i>Property
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="User">
                                <i class="fas fa-users"></i>Users
                            </a>
                        </li>
                        <li class="active">
                            <a asp-area="" asp-controller="Admin" asp-action="New">
                                <i class="fas fa-newspaper"></i>News
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar
                            </a>
                        </li>
                        <li class="has-sub">
                            <a asp-area="" asp-controller="Admin" asp-action="AddProperty" class="js-arrow">
                                <i class="fas fa-copy"></i>Pages
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="Login"></a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="register"></a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="ForgetPass"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search"
                                       placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a asp-area="" asp-controller="Admin" asp-action="card" class="js-acc-btn">John Doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a asp-area="" asp-controller="Admin" asp-action="card">
                                                        <img src="~/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a asp-area="" asp-controller="Admin" asp-action="card">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a asp-area="" asp-controller="Admin" asp-action="card">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a asp-area="" asp-controller="Admin" asp-action="Login">
                                                        <i class="zmdi zmdi-power"></i>Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <!-- Latest Properties -->
                        <div class="col-lg-12 ">
                            <div class="card">
                                <div class="card-header-prop">
                                    <div class="page-titles">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a asp-area="" asp-controller="Admin" asp-action="New">
                                                    News
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item active">
                                                <a asp-area="" asp-controller="Admin" asp-action="NewDetail">
                                                    NewDetail
                                                </a>
                                            </li>
                                        </ol>
                                        <button type="submit"
                                                class="au-btn au-btn-icon au-btn--green au-btn--small float-right">
                                            <i class="fa fa-dot-circle-o"></i> Update
                                        </button>
                                        <button type="reset"
                                                class="au-btn au-btn-icon au-btn--red au-btn--small float-right"
                                                style="margin-right: 1%;">
                                            <i class="fa fa-ban"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="post-details">
                                        <h3 class="mb-2 text-black text-xl-left">
                                            Novaland dự kiến vay 350 tỷ đồng từ chủ
                                            đầu tư Aqua Riverside City
                                        </h3>
                                        <ul class="mb-4 post-meta d-flex flex-wrap">
                                            <li class="post-author me-3">By Admin</li>
                                            <li class="post-date me-3">
                                                <i class="fa fa-calender"></i>18 Nov 2020
                                            </li>
                                        </ul>
                                        <img src="~/images/meeting.jpg" class=" img-fluid mb-3 w-60 rounded mx-auto
                                            d-block">
                                        <p>
                                            A wonderful serenity has take possession of my entire soul like these
                                            sweet
                                            morning of spare which enjoy whole heart.A wonderful serenity has take
                                            possession of my entire soul like these sweet morning of spare which
                                            enjoy
                                            whole heart.
                                        </p>
                                        <p>
                                            A collection of textile samples lay spread out on the table - Samsa was a
                                            travelling salesman - and above it there hung a picture that he had
                                            recently
                                            cut out of an illustrated magazine and housed in a nice, gilded frame.
                                        </p>
                                        <blockquote>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Has been the industry's standard text ever since the 1500s,
                                            when
                                            an unknown printer took a galley of type and scrambled it to make a type
                                            specimencenturies.
                                        </blockquote>
                                        <p>
                                            A wonderful serenity has taken possession of my entire soul, like these
                                            sweet
                                            mornings of spring which I enjoy with my whole heart. I am alone, and
                                            feel
                                            the charm of existence was created for the bliss of souls like mine.I am
                                            so
                                            happy, my dear friend, so absorbed in the exquisite sense of mere
                                            tranquil
                                            existence, that I neglect my talents.
                                        </p>
                                        <div class="profile-skills mt-5 mb-5">
                                            <h4 class="text-primary mb-2">Tag</h4>
                                            <a href="#" class="btn btn-primary light btn-xs mb-1">Apartment</a>
                                            <a href="#" class="btn btn-primary light btn-xs mb-1">Trending News</a>
                                            <a href="#" class="btn btn-primary light btn-xs mb-1">Style</a>
                                            <a href="#" class="btn btn-primary light btn-xs mb-1">Responsive</a>
                                            <a href="#" class="btn btn-primary light btn-xs mb-1">House</a>
                                        </div>
                                        <div class="comment-respond" id="respond">
                                            <h4 class="comment-reply-title text-primary mb-3" id="reply-title">
                                                Leave
                                                a
                                                Reply
                                            </h4>
                                            <form class="comment-form" id="commentform" method="post">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="author" class="text-black font-w600">
                                                                Name
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value="Author"
                                                                   name="Author" placeholder="Author" id="author">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email" class="text-black font-w600">
                                                                Email
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value="Email"
                                                                   placeholder="Email" name="Email" id="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="comment"
                                                                   class="text-black font-w600">Comment</label>
                                                            <textarea rows="8" class="form-control" name="comment"
                                                                      placeholder="Comment" id="comment"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input type="submit" value="Post Comment"
                                                                   class="submit btn btn-primary" id="submit"
                                                                   name="submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Jquery JS-->
                <script src="~/vendor/jquery-3.2.1.min.js"></script>
                <!-- Bootstrap JS-->
                <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
                <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
                <!-- Vendor JS       -->
                <script src="~/vendor/slick/slick.min.js">
                </script>
                <script src="~/vendor/wow/wow.min.js"></script>
                <script src="~/vendor/animsition/animsition.min.js"></script>
                <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
                </script>
                <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
                <script src="~/vendor/counter-up/jquery.counterup.min.js">
                </script>
                <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
                <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
                <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
                <script src="~/vendor/select2/select2.min.js">
                </script>
                <script src="~/js_admin/swiper-bundle.min.js"></script>

                <!-- Main JS-->
                <script src="~/js_admin/main_admin.js"></script>
                <script src="~/js_admin/swiper.js"></script>

</body>

</html>
<!-- end document-->